[
  {
    "url": "https://www.baidu.com/s",
    "method": "GET",
    "params": {
      "wd": "换行符"
    },
    "response": {
      "status": 200,
      "data": {
        "code": 200,
        "message": "success"
      }
    }
  }
]
